<div *ngIf="isAuth$ | async" class="extensionContainer">
  <ul class="list">
    <div class="list__box animate__animated animate__slideInRight">
      <ng-container *ngIf="isMenuShow$ | async">
        <li
          *ngFor="let data of menuData"
          [routerLink]="[data.route]"
          routerLinkActive="list__item--active"
          class="list__item"
        >
          <span class="list__item--text">{{ data.name }}</span>
          <mat-icon class="list__item--icon" svgIcon="arrow_down"></mat-icon>
        </li>
      </ng-container>

      <div class="game-details" *ngIf="!(isMenuShow$ | async)">
        <li (click)="onBack()" class="list__item">
          <mat-icon class="game-details__icon" svgIcon="back"></mat-icon>

          <span class="list__item--text">back</span>
        </li>
        <li class="list__item">
          <span class="list__item--text">game details</span>
          <mat-icon class="list__item--icon" svgIcon="arrow_down"></mat-icon>
        </li>
      </div>
    </div>
  </ul>

  <div
    *ngIf="isPressGallery$ | async"
    class="press animate__animated animate__fadeIn"
  >
    <ul class="gallery-list">
      <li
        *ngFor="let menuData of pressGalleryMenuData"
        class="gallery-list__item"
      >
        <mat-icon
          class="gallery-list__item--icon"
          [svgIcon]="menuData.icon!"
        ></mat-icon>
        <span class="gallery-list__item--text">{{ menuData.name }}</span>
      </li>
    </ul>
  </div>
</div>
