.extensionContainer {
  position: absolute;
  top: var(--toolbarHeight);
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #101359, #1c1f78);

  animation: extensionSlider 1s;
  height: var(--toolbarExtensionHeight);
  background-image: url(../../../assets/images/colorado_bench.jpg);
  box-shadow: 0 0.4rem 0.3rem rgba(#000, 0.2);
  filter: grayscale(60%);
}

.list {
  // display: flex;
  // align-items: flex-end;
  // justify-content: flex-end;
  // color: var(--light500);
  list-style: none;
  height: 100%;
  background: linear-gradient(90deg, #101359, #1c1f78);
  opacity: 0.9;
  padding-left: 2%;
  padding-right: var(--padding-horizontal);

  padding-bottom: 0.4rem;

  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 2rem;
  }

  &__item {
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // opacity: 1;
    color: #fff;
    transition: 0.2s ease;

    &--text {
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 0.8rem;
    }

    &--icon {
      height: 1.2rem;
      width: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__item:hover {
    // opacity: 0.7;
    color: var(--primary300);
  }

  &__item--active {
    // opacity: 0.7;
    transform: scale(1.05);
    color: var(--primary300);
  }
}

.game-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    margin-right: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
  }
}

@keyframes extensionSlider {
  0% {
    height: 0;
  }
  100% {
    height: var(--toolbarExtensionHeight);
  }
}

.press {
  // height: 4rem;
  background-color: var(--primary200);
  padding: 0rem calc(var(--padding-horizontal) * 2);
  border-bottom: 0.1rem solid rgba(#000, 0.2);
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  transform: translateX(0rem);
  padding-top: 0.5rem;

  &__item {
    padding: 0.7rem 2rem;
    // padding-right: 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;

    border-top-left-radius: 0.4rem;
    border-top-right-radius: 1rem;
    border: 0.1rem solid rgba(#101359, 0.2);
    border-bottom: none;
    background-color: var(--primary50);

    &--text {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.4rem;
      color: var(--primary500);
    }

    &--icon {
      height: 1.4rem;
      width: 1.4rem;
      margin-right: 0.8rem;
      color: var(--primary500);
    }
  }

  &__item:hover {
    background-color: var(--light500);
  }
}

.active {
  background-color: #fff;
  border: 0.1rem solid rgba(#101359, 0.4);
  border-bottom: none;
  transform: scale(1.05);
}
