<div
  #spinnerEl
  [ngClass]="{
    'la-sm': size === 'small',
    'la-2x': size === '2x',
    'la-3x': size === '3x',
    'la-dark': color === 'dark',
    'la-ball-beat': spinnerType === 'ball-beat',
    'la-pacman': spinnerType === 'pacman',
    'la-ball-8bits': spinnerType === 'ball-8bits',
    'la-ball-atom': spinnerType === 'ball-atom',
    'la-ball-circus': spinnerType === 'ball-circus',
    'la-ball-climbing-dot': spinnerType === 'ball-climbing-dot',
    'la-ball-clip-rotate': spinnerType === 'ball-clip-rotate',
    'la-ball-clip-rotate-multiple': spinnerType === 'ball-clip-rotate-multiple',
    'la-ball-clip-rotate-pulse': spinnerType === 'ball-clip-rotate-pulse',
    'la-ball-elastic-dots': spinnerType === 'ball-elastic-dots',
    'la-ball-fall': spinnerType === 'ball-fall',
    'la-ball-fussion': spinnerType === 'ball-fussion',
    'la-ball-grid-beat': spinnerType === 'ball-grid-beat',
    'la-ball-grid-pulse': spinnerType === 'ball-grid-pulse',
    'la-ball-newton-cradle': spinnerType === 'ball-newton-cradle',
    'la-ball-pulse': spinnerType === 'ball-pulse',
    'la-ball-pulse-rise': spinnerType === 'ball-pulse-rise',
    'la-ball-pulse-sync': spinnerType === 'ball-pulse-sync',
    'la-ball-rotate': spinnerType === 'ball-rotate',
    'la-ball-running-dots': spinnerType === 'ball-running-dots',
    'la-ball-scale': spinnerType === 'ball-scale',
    'la-ball-scale-multiple': spinnerType === 'ball-scale-multiple',
    'la-ball-scale-pulse': spinnerType === 'ball-scale-pulse',
    'la-ball-scale-ripple': spinnerType === 'ball-scale-ripple',
    'la-ball-scale-ripple-multiple':
      spinnerType === 'ball-scale-ripple-multiple',
    'la-ball-spin': spinnerType === 'ball-spin',
    'la-ball-spin-clockwise': spinnerType === 'ball-spin-clockwise',
    'la-ball-spin-clockwise-fade': spinnerType === 'ball-spin-clockwise-fade',
    'la-ball-spin-clockwise-fade-rotating':
      spinnerType === 'ball-spin-clockwise-fade-rotating',
    'la-ball-spin-fade': spinnerType === 'ball-spin-fade',
    'la-ball-spin-fade-rotating': spinnerType === 'ball-spin-fade-rotating',
    'la-ball-spin-rotate': spinnerType === 'ball-spin-rotate',
    'la-ball-square-clockwise-spin':
      spinnerType === 'ball-square-clockwise-spin',
    'la-ball-square-spin': spinnerType === 'ball-square-spin',
    'la-ball-triangle-path': spinnerType === 'ball-triangle-path',
    'la-ball-zig-zag': spinnerType === 'ball-zig-zag',
    'la-ball-zig-zag-deflect': spinnerType === 'ball-zig-zag-deflect',
    'la-cog': spinnerType === 'cog',
    'la-cube-transition': spinnerType === 'cube-transition',
    'la-fire': spinnerType === 'fire',
    'la-line-scale': spinnerType === 'line-scale',
    'la-line-scale-party': spinnerType === 'line-scale-party',
    'la-line-scale-pulse-out': spinnerType === 'line-scale-pulse-out',
    'la-line-scale-pulse-out-rapid':
      spinnerType === 'line-scale-pulse-out-rapid',
    'la-line-spin-clockwise-fade': spinnerType === 'line-spin-clockwise-fade',
    'la-line-spin-clockwise-fade-rotating':
      spinnerType === 'line-spin-clockwise-fade-rotating',
    'la-line-spin-fade': spinnerType === 'line-spin-fade',
    'la-line-spin-fade-rotating': spinnerType === 'line-spin-fade-rotating',
    'la-square-jelly-box': spinnerType === 'square-jelly-box',
    'la-square-loader': spinnerType === 'square-loader',
    'la-square-spin': spinnerType === 'square-spin',
    'la-timer': spinnerType === 'timer',
    'la-triangle-skew-spin': spinnerType === 'triangle-skew-spin'
  }"
  [ngStyle]="{ color: color }"
>
  <div *ngFor="let div of numberOfDivRows"></div>
</div>
