<div class="container">
  <div class="row">
    <div class="row__col row__col--1">
      <stats-card title="skaters" icon="skate"></stats-card>
    </div>
    <div class="row__col row__col--2">
      <stats-card
        [navigatorMenuItems]="goaliesNavigatorItems"
        title="goalies"
        icon="goalie"
      ></stats-card>
    </div>
  </div>

  <div class="row">
    <div class="row__col row__col--3">
      <stats-card title="defensemen" icon="shield"></stats-card>
    </div>
    <div class="row__col row__col--4">
      <stats-card title="rookies" icon="baby"></stats-card>
    </div>
  </div>
</div>
