<div class="container">
  <div class="row" [ngClass]="{ row__wrap: (innerWidth$ | async)! <= 1350 }">
    <div class="row__col row__col--1">
      <stats-card
        [navigatorMenuItems]="playerNavigatorItems"
        title="skaters"
        icon="skate"
        [statsType]="skatersStatsType"
      ></stats-card>
    </div>
    <div class="row__col row__col--2">
      <stats-card
        [navigatorMenuItems]="goaliesNavigatorItems"
        title="goalies"
        icon="goalie"
        [statsType]="goalieStatsType"
      ></stats-card>
    </div>
  </div>

  <div class="row" [ngClass]="{ row__wrap: (innerWidth$ | async)! <= 1350 }">
    <div class="row__col row__col--3">
      <stats-card
        [navigatorMenuItems]="playerNavigatorItems"
        title="defensemen"
        icon="shield"
        [statsType]="defensemenStatsType"
      ></stats-card>
    </div>
    <div class="row__col row__col--4">
      <stats-card
        [navigatorMenuItems]="playerNavigatorItems"
        title="rookies"
        icon="baby"
        [statsType]="rookieStatsType"
      ></stats-card>
    </div>
  </div>
</div>
