@import "../../styles.scss";

.container {
  @include defaultContainer;
  height: 100vh;
}

.canvas {
  margin-left: calc(var(--padding-horizontal) * 2);
  margin-right: calc(var(--padding-horizontal) * 2);
  height: 100%;
}
