.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.box {
  min-height: calc(100vh - 6.8rem);
}

.content {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // min-height: calc(100vh - 6.8rem);
  height: 100%;
}
