.container {
  position: relative;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.5rem var(--padding-horizontal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(90deg, #101359, #1c1f78);
  height: var(--toolbarHeight);

  &__branding {
    color: var(--light500);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: 0.4s ease;
    width: 100%;

    &--hover {
      color: var(--primary200);
    }

    &--icon {
      height: 3.5rem;
      width: 3.5rem;
      margin-right: 1.2rem;
    }

    &--title {
      font-size: 2.5rem;
      text-transform: capitalize;
      font-weight: bold;
      letter-spacing: 0.4rem;
    }
  }
}
