<div class="container">
  <div class="toolbar" #toolbarEl>
    <div (click)="scrollToTop()" class="toolbar__branding" onHoverItem>
      <mat-icon class="toolbar__branding--icon" svgIcon="poolers"></mat-icon>
      <span class="toolbar__branding--title">poolers-Hub</span>
    </div>

    <toolbar-controls [isAuth]="isAuth$"></toolbar-controls>

    <toolbar-extension [isAuth]="isAuth$"></toolbar-extension>
  </div>

  <toolbar-menu
    *ngIf="!(isAuth$ | async)"
    [isMenuOpened]="isLoginMenuOpened$"
    [scrollTopValue]="scrollTopValue$"
    [arrowXPosition]="55"
    [verticalOffset]="65"
  >
    <login></login>
  </toolbar-menu>

  <toolbar-menu
    *ngIf="!(isAuth$ | async)"
    [isMenuOpened]="isSignupMenuOpened$"
    [scrollTopValue]="scrollTopValue$"
    [arrowXPosition]="80"
    [verticalOffset]="65"
  >
    <signup (signupDtoEmitter)="getSignupDto($event)"></signup>
  </toolbar-menu>

  <toolbar-menu
    [isMenuOpened]="isHamburgerMenuOpened$"
    [scrollTopValue]="scrollTopValue$"
    [arrowXPosition]="90"
    [verticalOffset]="65"
    width="27rem"
  >
    <hamburger></hamburger>
  </toolbar-menu>
</div>

<validation-modal [signupDto]="signupDto$"></validation-modal>
