.container {
  // height: 15rem;
  margin-bottom: 2.5rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  border: solid 0.2rem rgba(#101359, 0.3);
  background-color: var(--primary50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem;
}
