<default-layout [top]="4.5">
  <div class="control-panel">
    <screen-title-panel name="players" icon="player"
      >CONTROL PANEL</screen-title-panel
    >
  </div>

  <div class="players">
    <ul>
      <li *ngFor="let player of paginatedPlayers$ | async">
        {{ player.dataIndex! + 1 + " " + player.fullName }}
      </li>
    </ul>
  </div>

  <div class="paginator">
    <paginator
      [scrollOnSelectFilter]="true"
      [paginatorFilter]="paginatorFilter"
      [data]="players$"
    ></paginator>
  </div>
</default-layout>
