<div class="form-section">
  <h3 class="form-section__text">profile</h3>
  <div class="form-section__border"></div>
</div>

<div class="form">
  <div class="form__left">
    <div style="margin-bottom: 2.5rem">
      <inputfield icon="email" name="email" label="email"></inputfield>
    </div>

    <div style="margin-bottom: 2.5rem">
      <inputfield
        icon="person"
        name="firstName"
        label="first name"
      ></inputfield>
    </div>

    <div style="margin-bottom: 2.5rem">
      <inputfield
        icon="family"
        name="lastName"
        label="family name"
      ></inputfield>
    </div>

    <div style="margin-bottom: 2.5rem">
      <inputfield icon="clown" name="username" label="username"></inputfield>
    </div>
  </div>

  <div class="form__right">
    <div class="avatar">
      <avatar-edit></avatar-edit>
    </div>
  </div>
</div>

<div class="form__actions">
  <my-button text="update" class="form__btn" width="15rem"></my-button>
  <my-button color="#070505" text="reset" width="15rem"></my-button>
</div>
