.date-ranges {
  height: 4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;

  &__side {
    background-color: #fff;
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease-in;

    &--left {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
    }

    &--right {
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }

    &--icon {
      height: 2rem;
      width: 2rem;
    }

    &--text {
      text-transform: capitalize;
      font-size: 1.4rem;
      color: var(--dark500);
      font-weight: 500;
    }
  }

  &__side:hover {
    background-color: rgba(#000, 0.1);
  }

  &__center {
    background-color: #fff;
    width: 60%;

    height: 100%;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.4rem;

    &--text {
      color: var(--primary500);
      font-weight: 500;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-weight: 500;
    }

    &--seperator {
      color: var(--primary400);
    }
  }
}

.rotate {
  transform: rotate(180deg);
}
