html {
  --primary500: #101359;
  --light500: #fffafa;
  --grey500: #d2d3d6;
  --grey400: #bdbdbd;
  --grey300: #d4d4d4;
  --grey200: #eeeeee;
  --grey100: #f5f5f5;
  --dark500: #757575;
  --red500: #b33f40;

  --brown50: #efebe9;
}
