html {
  --primary500: #101359;
  --primary100: #c8c8db;
  --primary50: #e6e6f5;
  --light500: #fffafa;
  --grey500: #d2d3d6;
  --grey400: #bdbdbd;
  --grey300: #d4d4d4;
  --grey200: #eeeeee;
  --grey100: #f5f5f5;
  --dark500: #757575;
  --dark800: #3d3c3c;
  --red500: #070505;

  --orange500: #ed720c;

  --green500: #1e8553;

  --brown50: #efebe9;
}
