.container {
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--light500);
  }
}
