.container {
  background-color: var(--primary500);
  width: 100vw;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.8rem;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__icon {
    fill: var(--light500);
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    // margin-bottom: 2rem;
  }

  &__text {
    color: var(--light500);
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-top: 2rem;
  }
}

.hamburger {
  color: var(--light500);
  cursor: pointer;
}
