<div class="card">
  <div class="card__header">
    <mat-icon class="card__header--icon" [svgIcon]="icon"></mat-icon>
    <span class="card__header--text">{{ title }}</span>
  </div>

  <div class="navigator">
    <ul class="navigator__list">
      <li
        (click)="onChangeTab(item.name)"
        *ngFor="let item of navigationState$ | async"
        class="navigator__item"
        [ngClass]="{ 'navigator__item--selected': item.state }"
      >
        <span
          [ngClass]="{ 'navigator__item--text-selected': item.state }"
          class="navigator__item--text"
          >{{ item.name }}</span
        >
      </li>
    </ul>
  </div>

  <div class="card__content">
    <div *ngFor="let item of navigationState$ | async" class="card__tab">
      <stats-card-item
        *ngIf="item.state"
        [sortBy]="item.sorter!"
        [descending]="item.descending"
        [filterName]="item.name"
        [players]="players$"
      ></stats-card-item>
    </div>
  </div>
</div>
