<div class="bottom-control">
  <ng-container *ngIf="!(isValidate$ | async)">
    <div
      #loginTabEl
      id="login"
      (click)="onClickTab(loginTabEl)"
      onMouseOverTab
      class="bottom-control__tab animate__animated animate__fadeIn"
      matRipple
    >
      <mat-icon class="bottom-control__tab--icon" svgIcon="login"></mat-icon>
      <span class="bottom-control__tab--text">login</span>
    </div>
    <div
      (click)="onClickTab(signinTabEl)"
      #signinTabEl
      onMouseOverTab
      class="bottom-control__tab animate__animated animate__fadeIn"
      id="signin"
      matRipple
    >
      <mat-icon class="bottom-control__tab--icon" svgIcon="signin"></mat-icon>
      <span class="bottom-control__tab--text">signin</span>
    </div>
  </ng-container>

  <div
    *ngIf="isValidate$ | async"
    (click)="onClickTab(validateTabEl)"
    #validateTabEl
    onMouseOverTab
    class="bottom-control__tab animate__animated animate__fadeIn"
    [ngClass]="{ selected: isValidate$ | async }"
    id="validate"
    matRipple
  >
    <mat-icon class="bottom-control__tab--icon" svgIcon="validate"></mat-icon>
    <span class="bottom-control__tab--text">validate</span>
  </div>
</div>
