<div class="filter">
  <div class="filter__header">
    <mat-icon class="filter__header--icon" svgIcon="filter"></mat-icon>
    <label class="filter__header--label">filters</label>
  </div>

  <div class="filter__content">
    <form [formGroup]="filterForm" (ngSubmit)="onApplyFilters()">
      <div class="select-box">
        <div *ngFor="let filter of filters" class="select">
          <div class="select__label">
            <div class="select__label-box">
              <mat-icon
                [svgIcon]="filter.icon"
                class="select__label--icon"
              ></mat-icon>
              <label class="select__label--text">{{ filter.name }}</label>
            </div>
            <mat-icon
              (click)="onResetIndividualFilter(filter.name)"
              svgIcon="close"
              class="select__label--close"
            ></mat-icon>
          </div>

          <select
            [formControlName]="filter.name"
            #selectEl
            class="select__selector"
          >
            <option>Please Choose...</option>
            <option *ngFor="let option of filter.options">
              <span>{{ option }}</span>
            </option>
          </select>
        </div>
      </div>

      <div class="buttons">
        <div class="buttons__btn">
          <my-button
            fontSize="1rem"
            icon="filter"
            width="fit-content"
            text="apply filter"
            type="submit"
          ></my-button>
        </div>

        <div class="buttons__btn">
          <my-button
            (click)="onResetFilters()"
            fontSize="1rem"
            icon="reset"
            width="fit-content"
            text="reset filter"
            type="button"
            color="#b33f40"
          ></my-button>
        </div>
      </div>
    </form>

    <div class="filter__search">
      <inputfield
        (valueChange)="onSearchPlayer($event)"
        name="search"
        icon="search"
        label="search player"
      ></inputfield>
    </div>
  </div>
</div>
