@import "../../styles.scss";

.container {
  @include defaultContainer;
}

.controlPanel {
  height: 25rem;
  background-color: var(--grey100);
  // box-shadow: 0.1rem 0.2rem 0.3rem rgba(#000, 0.3);
  border-radius: 0.4rem;
  border: solid 0.1rem rgba(#000, 0.2);
  padding: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;

  &__icon {
    height: 3rem;
    width: 3rem;
    margin-right: 0.8rem;
  }

  &__text {
    font-size: 2.6rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
  }
}
