.grid-container {
  // margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0;
  padding: 0;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  height: 100%;
}
