<div class="avatar-container">
  <div #avatarEl class="avatar">
    <!-- <span class="avatar__initials">YL</span> -->

    <mat-icon
      *ngIf="!(imageUri$ | async)"
      #avatarIconEl
      class="avatar__icon"
      svgIcon="unknow-user"
    ></mat-icon>

    <img
      *ngIf="imageUri$ | async"
      class="avatar__pic animate__animated animate__fadeIn"
      [src]="imageUri$ | async"
      alt=""
      (error)="(null)"
      onerror="this.onerror=null;"
      loading="lazy"
    />

    <input
      [hidden]="true"
      type="file"
      (change)="onFileChanged($event)"
      #fileInput
    />

    <button type="button" (click)="fileInput.click()" class="avatar__button">
      edit
    </button>
  </div>
  <span>profile picture</span>
</div>
