<div class="container">
  <div class="centerpiece">
    <span #dateEl class="centerpiece__date">{{
      (game$ | async)?.gameDate | date
    }}</span>
    <span #serieStatusEl class="centerpiece__serieStatus">{{
      (game$ | async)?.seriesSummary?.seriesStatus
    }}</span>
    <span #venueEl class="centerpiece__venue">{{
      (game$ | async)?.venue?.name
    }}</span>

    <span *ngIf="(game$ | async)?.status?.codedGameState === '2'"
      >Pre-Game</span
    >

    <div
      *ngIf="
        (game$ | async)?.status?.codedGameState != '1' &&
        (game$ | async)?.status?.codedGameState != '8' &&
        (game$ | async)?.status?.codedGameState != '9' &&
        (game$ | async)?.status?.codedGameState != '2'
      "
      class="centerpiece__period"
    >
      <span class="centerpiece__period--text">{{
        (game$ | async)?.linescore?.currentPeriodOrdinal
      }}</span>
      <span class="centerpiece__period--time">{{
        (game$ | async)?.linescore?.currentPeriodTimeRemaining
      }}</span>
    </div>
  </div>

  <div class="btn">
    <button [routerLink]="[(game$ | async)?.gamePk]" class="btn__details">
      game details
    </button>
  </div>
</div>
