.container {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;

  &__left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @media screen and(max-width: 650px) {
      justify-content: flex-start;
      width: 50%;
    }

    &--rank {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 3.5rem;
      font-weight: 500;
      color: var(--dark600);
    }
  }

  &__right {
    width: 100%;
    height: 100%;
  }
}

.list {
  list-style: none;
  height: 100%;
  width: 100%;
  padding-right: 3rem;

  &__item:hover {
    font-weight: 500;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    cursor: pointer;
    width: 100%;

    &--box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    &--rank {
      text-align: left;
      width: 3rem;
    }

    &--top-rank {
      font-weight: 600;
      color: var(--primary800);
    }

    &--name {
      letter-spacing: 0.05rem;
    }
  }
}

.leader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 72%;
}

.avatar {
  transform: translateY(0rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__img {
    width: 15rem;
    border-radius: 10rem;
    min-width: 5rem;
    margin-bottom: 3rem;

    @media screen and(max-width: 650px) {
      width: 8rem;
    }
  }
}

.logo {
  position: absolute;
  min-width: 5rem;
  bottom: 15rem;
  right: 4.5rem;
  width: 6rem;

  &__logo-wrap {
    position: absolute;
    min-width: 5rem;
    bottom: 15rem;
    right: 7.5rem;
    width: 6rem;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  transform: translateY(0rem);
  padding-left: 5rem;
  padding-right: 10rem;
  margin-bottom: 0.5rem;

  &__jersey {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    font-weight: 500;
  }

  &__name,
  &__name:active,
  &__name:link,
  &__name:focus {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--dark800);
  }
}

.team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(0rem);

  &__name {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    color: var(--dark800);
  }

  &__position {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.stat {
  text-align: center;
  transform: translateY(-0rem);
  margin-top: 1.5rem;

  &__name {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &__value {
    font-size: 4rem;
    font-weight: 600;
  }
}
