<div class="container">
  <div class="container__left">
    <div class="leader">
      <div class="avatar">
        <img
          *ngIf="renderingValue$ | async"
          [src]="(renderingValue$ | async)![(hoverIndex$ | async)!].imgUrl"
          alt=""
          class="avatar__img"
        />
      </div>

      <div
        class="logo"
        [ngClass]="{
          'logo__logo-wrap':
            (innerWidth$ | async)! < 1350 && (innerWidth$ | async)! > 950
        }"
      >
        <img
          *ngIf="renderingValue$ | async"
          [src]="
            (
              (renderingValue$ | async)![(hoverIndex$ | async)!].teamId
              | teamLogo
              | async
            )?.url
          "
          alt=""
          class="avatar__logo"
        />
      </div>

      <div class="info">
        <span class="info__jersey">{{
          (renderingValue$ | async)![(hoverIndex$ | async)!].jerseyNumber
            ? "#" +
              (renderingValue$ | async)![(hoverIndex$ | async)!].jerseyNumber
            : 0
        }}</span>
        <a
          class="info__name"
          [routerLink]="[
            '/',
            'press-gallery',
            'players',
            'player-details',
            (renderingValue$ | async)![(hoverIndex$ | async)!].playerId
          ]"
          >{{ (renderingValue$ | async)![(hoverIndex$ | async)!].name }}</a
        >
      </div>

      <div class="team">
        <span class="team__name"
          >{{ (renderingValue$ | async)![(hoverIndex$ | async)!].teamName }}
        </span>
        <span class="team__position">{{
          "| " +
            (renderingValue$ | async)![(hoverIndex$ | async)!].currentPosition
        }}</span>
      </div>

      <div class="stat">
        <p class="stat__name">{{ filterName }}</p>
        <span class="stat__value">{{
          filterName === "gaa"
            ? ((renderingValue$ | async)![(hoverIndex$ | async)!].value
              | number: (filterName === "gaa" ? "1.2-2" : "0.3-3"))
            : (renderingValue$ | async)![(hoverIndex$ | async)!].value
        }}</span>
      </div>
    </div>
  </div>

  <div class="container__right">
    <ul class="list">
      <li
        (click)="onSelectPlayer(i)"
        (mouseenter)="onHoverItem($event, i)"
        (mouseleave)="onLeaveItem()"
        *ngFor="let player of renderingValue$ | async as players; let i = index"
        class="list__item"
      >
        <div class="list__item--box">
          <span
            [ngClass]="{
              'list__item--top-rank': i === (selectedIndex$ | async)
            }"
            class="list__item--rank"
            >{{ i + 1 }}
          </span>
          <span
            [ngClass]="{
              'list__item--top-rank': i === (selectedIndex$ | async)
            }"
            class="list__item--name"
            >{{ player.name }}</span
          >
        </div>

        <span
          [ngClass]="{ 'list__item--top-rank': i === (selectedIndex$ | async) }"
          class="list__item--value"
          >{{
            filterName === "gaa" || filterName === "sv%"
              ? (player.value
                | number: (filterName === "gaa" ? "1.2-2" : "0.3-3"))
              : player.value
          }}</span
        >
      </li>
    </ul>
  </div>
</div>
