<div [ngClass]="{ spinner: isLoading$ | async }">
  <load-awesome-spinner
    *ngIf="isLoading$ | async"
    [spinnerType]="spinnerType"
    [size]="spinnerSize"
    [color]="spinnerColor"
  ></load-awesome-spinner>
</div>

<div *ngIf="!(isLoading$ | async)" class="container">
  <div class="container__left">
    <span
      class="container__left--rank"
      *ngIf="(players$ | async)!.length > 0"
      >{{ "# " + ((selectedIndex$ | async)! + 1 | number: "1.0-0") }}</span
    >
    <div class="leader">
      <div class="avatar">
        <img
          *ngIf="(renderingValue$ | async)![(selectedIndex$ | async)!]"
          [src]="(renderingValue$ | async)![(selectedIndex$ | async)!].imgUrl"
          onerror="this.src='../../../../../assets/images/hockey_player.png';this.onerror='';"
          alt=""
          class="avatar__img"
        />
      </div>

      <div
        class="logo"
        [ngClass]="{
          'logo__logo-wrap':
            (innerWidth$ | async)! < 1350 && (innerWidth$ | async)! > 950
        }"
      >
        <img
          *ngIf="(renderingValue$ | async)![(selectedIndex$ | async)!]"
          [src]="
            (
              (renderingValue$ | async)![(selectedIndex$ | async)!].teamId
              | teamLogo
              | async
            )?.url
          "
          alt=""
          class="avatar__logo"
        />
      </div>

      <div
        class="info"
        *ngIf="(renderingValue$ | async)![(selectedIndex$ | async)!]"
      >
        <span class="info__jersey">{{
          "#" +
            (renderingValue$ | async)![(selectedIndex$ | async)!].jerseyNumber
        }}</span>
        <a
          class="info__name"
          [routerLink]="[
            '/',
            'press-gallery',
            'players',
            'player-details',
            (renderingValue$ | async)![(selectedIndex$ | async)!].playerId
          ]"
          >{{ (renderingValue$ | async)![(selectedIndex$ | async)!].name }}</a
        >
      </div>

      <div
        *ngIf="(renderingValue$ | async)![(selectedIndex$ | async)!]"
        class="team"
      >
        <span class="team__name"
          >{{
            (renderingValue$ | async)![(selectedIndex$ | async)!]
              ? (renderingValue$ | async)![(selectedIndex$ | async)!].teamName
              : "no team"
          }}
        </span>
        <span class="team__position">{{
          "| " +
            (renderingValue$ | async)![(selectedIndex$ | async)!]
              .currentPosition
        }}</span>
      </div>

      <div
        class="stat"
        *ngIf="(renderingValue$ | async)![(selectedIndex$ | async)!]"
      >
        <p class="stat__name">{{ filterName }}</p>
        <span class="stat__value">{{
          filterName === "gaa"
            ? ((renderingValue$ | async)![(selectedIndex$ | async)!].value
              | number: (filterName === "gaa" ? "1.2-2" : "0.3-3"))
            : (renderingValue$ | async)![(selectedIndex$ | async)!].value
        }}</span>
      </div>
    </div>
  </div>

  <div class="container__right">
    <ul class="list">
      <li
        (click)="onSelectPlayer(i)"
        *ngFor="let player of renderingValue$ | async as players; let i = index"
        class="list__item"
      >
        <div class="list__item--box">
          <span
            [ngClass]="{
              'list__item--top-rank': i === (selectedIndex$ | async)
            }"
            class="list__item--rank"
            >{{ i + 1 }}
          </span>
          <span
            [ngClass]="{
              'list__item--top-rank': i === (selectedIndex$ | async)
            }"
            class="list__item--name"
            >{{ player.name }}</span
          >
        </div>

        <span
          [ngClass]="{ 'list__item--top-rank': i === (selectedIndex$ | async) }"
          class="list__item--value"
          >{{
            filterName === "gaa" || filterName === "sv%"
              ? (player.value
                | number: (filterName === "gaa" ? "1.2-2" : "0.3-3"))
              : player.value
          }}</span
        >
      </li>
    </ul>
  </div>
</div>
