.games {
  margin-top: 3rem;
  padding-bottom: 5rem;

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__header {
    padding: 0.75rem 1rem;
    background-color: var(--dark800);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &--text {
      color: var(--light500);
    }

    &--icon {
      color: var(--light500);
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25rem 0rem;
    background-color: var(--grey50);
    transition: 0.3s ease;
    cursor: pointer;
    flex-wrap: wrap;
  }

  &__content:hover {
    background-color: var(--grey300);
  }
}

.away {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 21rem;

  &__logo {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }
}

.center {
  text-align: center;
  padding-right: 5rem;

  &__and {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  &__score {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--primary500);
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 21rem;
  margin-right: 3rem;

  &__logo {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }
}

.venue {
  width: 15rem;
}

.stars-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;

  &__box {
    position: relative;

    &--icon {
      color: var(--yellow500);
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    &--num {
      position: absolute;
      font-size: 1.1rem;
      font-weight: 500;
      top: 0.6rem;
      left: 1.2rem;
      color: var(--dark800);
    }
  }
}

.win {
  color: var(--green500);
  font-size: 1rem;
  font-weight: 500;
}

.lost {
  color: var(--red500);
  font-size: 1.2rem;
  font-weight: 500;
}
