<div #containerEl class="container">
  <toolbar
    [backButton]="toolbarBackButton"
    *ngIf="isToolbar"
    [height]="toolbarHeight"
    class="toolbar"
  ></toolbar>

  <div #contentEl class="content">
    <div
      [@openClose]="sideMenuState$ | async"
      *ngIf="isSideMenu"
      #sideMenuEl
      class="sidemenu"
    >
      <side-menu-list
        (resetMenu)="onResetMenu()"
        [menuState]="sideMenuState$"
      ></side-menu-list>

      <mat-icon
        (click)="onToggle()"
        class="sidemenu__caret"
        svgIcon="caret"
      ></mat-icon>
    </div>

    <ng-content class="content__ng" #content></ng-content>
  </div>

  <footer #footerEl *ngIf="!isFooterHidden"></footer>
</div>
