.container {
  display: flex;
  flex-direction: row;
}

.card {
  height: 100%;

  &__header {
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--icon {
      height: 10rem;
      width: 10rem;
      color: var(--primary500);
    }
    &--text {
      font-size: 3rem;
      padding: 1rem;
      text-transform: capitalize;
      letter-spacing: 0.2rem;
      font-weight: 500;
      color: var(--primary500);
    }
  }

  &__content {
  }

  &__actions {
    // height: 100%;
  }
}

.form {
  width: 85%;
  height: 100%;
}
