<div class="container">
  <div class="header">
    <div class="header__box">
      <mat-icon class="header__icon" svgIcon="poolers"></mat-icon>
      <span class="header__title">Poolers Menu</span>
    </div>
  </div>

  <div class="content">
    <ul class="list">
      <li hamburgerMouse class="list__item">
        <span class="list__item--label">edit profile</span>
        <mat-icon class="list__item--icon" svgIcon="person"></mat-icon>
      </li>
      <li hamburgerMouse class="list__item">
        <span class="list__item--label">settings</span>
        <mat-icon class="list__item--icon" svgIcon="settings"></mat-icon>
      </li>
      <li hamburgerMouse class="list__item">
        <span class="list__item--label">faq</span>
        <mat-icon class="list__item--icon" svgIcon="faq"></mat-icon>
      </li>
      <li (click)="onLogout()" hamburgerMouse class="list__item">
        <span class="list__item--label">logout</span>
        <mat-icon class="list__item--icon" svgIcon="logout"></mat-icon>
      </li>
    </ul>
    <div class="content__footer"></div>
  </div>
</div>
